body{
    background-color: rgb(215, 230, 215);
}

.log {
    width:10%;
    height:20%;
    float:right;
}

.head {
    text-align: center;
    font: size 55%;;
    font-style: oblique;
    padding-bottom: 5vh;
}

.P1 {
    display: block;
    margin-left: auto;
    margin-right: 50vh;
    width: 50%;
    height: 70vh;
}

.Tag {
   text-align: center;
}

.price {
    text-align: center;
    padding-bottom: 10vh;
}

.Desc {
    text-align: center;

}

.P2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60vh;
}

.Tag1 {
   text-align: center;
}

.price1 {
    text-align: center;
    padding-bottom: 10vh;
}

.Desc1 {
    text-align: center;
 
}

